<table class="bordered">
  <tbody>
    <tr>
      <td>05/10/17 23:52</td>
      <td>Robin</td>
      <td> - </td>
      <td>Sven</td>
      <td class="table-icon-column">
        <a class="btn-floating btn-icon-small">
          <i class="material-icons">mode_edit</i>
        </a>
        <a class="btn-floating btn-icon-small  red lighten-2">
          <i class="material-icons">remove_circle</i>
        </a>
      </td>
    </tr>
    <tr>
      <td>26/09/17 23:52</td>
      <td>Jana</td>
      <td> - </td>
      <td>Sven</td>
      <td class="table-icon-column">
        <a class="btn-floating btn-icon-small  red lighten-2">
          <i class="material-icons">remove_circle</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>