<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="created_at">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.created_at}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="home_user.name">
      <mat-header-cell *matHeaderCellDef> Home </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.home_user.firstname}} {{element.home_user.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="home_score">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.home_score}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="away_score">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.away_score}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="away_user.name">
      <mat-header-cell *matHeaderCellDef> Away </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.away_user.firstname}} {{element.away_user.name}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>